:root {
  --background-color: #020c41; /* background of flashcard*/
  --input-text-color: #020c41;
  --site-fonts:'Garnett-Medium', sans-serif;
  --background-color-buttons: #07e7cc; /* background color for submit, delete, manage words and next button*/
  --text-for-buttons: #020c41; /* text color in the submit, delete, manage words and next button*/
  --check-button-background: #fa0073; /* color of the check button background*/
  --spanish-word-result-color: #fa0073; /* color of the Spanish word result */
}

@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'Garnett-Medium';
  src: url('../fonts/Garnett-Medium.woff2') format('truetype');
}
@font-face {
  font-family: 'Garnett-Regular';
  src: url('../fonts/Garnett-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Garnett-RegularItalic';
  src: url('../fonts/Garnett-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Garnett-Semibold';
  src: url('../fonts/Garnett-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../fonts/NeueHaasUnicaPro-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../fonts/NeueHaasUnicaPro-Heavy.woff2') format('truetype');
}
@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../fonts/NeueHaasUnicaPro-Medium.woff2') format('truetype');
}
@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../fonts/NeueHaasUnicaPro-Regular.woff2') format('truetype');
}




html.night-mode, html.night-mode body {
  background-color: #000000; /* Dark mode background */
}




body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--site-fonts);
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.flashcard {
  width: 60vw;
  max-width: 500px;
  min-width: 400px;
  height: 45vh;
  max-height: 400px;
  min-height: 250px;
  background: var(--background-color);
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard input[type="text"] {
  margin-top: 20px;
}

.flashcard button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.next-button {
  display: none;
  padding: 10px 20px;
  color: var(--text-for-buttons);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--background-color-buttons);
}

.manage-words-button {
  position: fixed;
  top: 15px;
  right: 20px;
  padding: 10px 15px;
  background-color: var(--background-color-buttons);
  color: var(--text-for-buttons);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.manage-words-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.userInputStyles {
  font-size: 1.6rem;
  font-family: var(--site-fonts);
  font-weight: bold;
  text-align: center;
  height: 24px;
  width: 65%;
  align-items: center;
  color: var(--input-text-color);
  padding: .4375rem 1rem;
  border-radius: .25rem;
  background: #fff;
  cursor: text;
  border: 1px solid #d9d9d9;
}

.userInputStyles:focus {
  outline: none;
}

.manage-words-content {
  background-color: white;
  width: 70%; /* Increased width */
  height: 80%; /* Increased height */
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto; /* To handle overflow */
}

textarea {
  width: 100%;
  height: 70%; /* Increased height */
  resize: both;
}

#englishWord {
  margin-bottom: 0.5rem;
}

.close-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.result-display {
  display: flex;
  align-items: center; /* Centers children vertically */
  justify-content: center; /* Centers children horizontally */
}

.svg-container {
  display: flex;
  align-items: center; /* Center SVG vertically */
  margin-right: 0.3rem; /* Space between SVG and text */
}

.text-container {
  display: flex;
  align-items: center;
}

.result-display span {
  line-height: 1; /* Adjust this as needed */
  vertical-align: middle;
}


.submit-button, .delete-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--background-color-buttons);
  color: var(--text-for-buttons);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manage-words-button, .submit-button, .next-button, .check-button, .delete-button {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: var(--site-fonts);
}

#check-button-id {
  font-size: 1rem;
}

.check-button {
  background-color: var(--check-button-background);
  color: white;
  border: none;
  border-radius: 5px;
  height: 1.8rem;
  width: 5rem
}

#resultUserInput {
  font-size: 1.2rem !important;
  font-family: 'Garnett-Regular', sans-serif;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}

#resultUserInputTyped {
  font-family: 'Garnett-RegularItalic', sans-serif;
}

#resultCorrectness {
  font-size: 1.2rem !important;
  margin-top: 0.4rem;
}

#resultSpanishWord {
  color: var(--spanish-word-result-color);
}

#resultEqualsSign {
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;
}

.next-button-disabled {
  opacity: 0.5; /* Faded effect */
  cursor: auto;
}

.manage-words-button-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* styles for the day and night mode buttons */

.mode-buttons {
  display: flex; /* Add flexbox display to ensure side by side layout */
  align-items: center; /* Center items vertically */
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 1001;
}

.mode-buttons button {
  display: flex; /* Add flexbox display */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-right: 5px;
  padding: 0;
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  cursor: pointer;
  background-color: #020c41;
  border: none;
  border-radius: 5px;
}

.mode-buttons button svg {
  width: 80%; /* Make SVG elements fill the button */
  height: 80%; /* Make SVG elements fill the button */
  display: flex; /* Add flexbox display */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}


/* Styles for toggling day and night mode */

html.night-mode, html.night-mode body {
  background-color: #000000; /* Dark background for night mode */
}

html.night-mode .userInputStyles, html.night-mode .manage-words-container input[type="text"] {
  background: #333; /* Dark background for input boxes */
  color: #fff; /* White text for input boxes */
  border: 1px solid #555; /* Optional: Adjust border color for better visibility */
}

html.night-mode .manage-words-container {
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent dark background for manage words window */
}

html.night-mode .manage-words-content, html.night-mode textarea {
  background-color: #2a2a2a; /* Dark background for the content in manage words window */
  color: #fff; /* White text inside manage words window */
}

html.night-mode #progressDisplay {
  color: #fff; /* White text for progress display in night mode */
}



/* handling issues during the initial page load */

.flashcard-container {
  display: none; /* Initially hide the flashcard container */
}

.mode-buttons {
  display: none; /* Hide the mode buttons initially */
  /* ... other existing styles ... */
}
